*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#f2f2f2;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width: 400px;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}
img{
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 15px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}
.details p a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(69, 65, 65);
    margin-bottom: 15px;
}
.buttons a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
.buttons{
    margin-top: 30px;
}
.buttons a:hover{
    background-color: aquamarine;
}